* {
    box-sizing: border-box;
}

.banner {
    color: white;
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: pink;
    background-position: center;
    background-image: url('https://myplace-phinf.pstatic.net/20210705_68/1625475536989Uff2v_JPEG/upload_3d4c9da8e9787f322567c130d22eed78.jpg');
    background-size: cover;
}

.button {
    margin: 12px;
    display: flex;
}

.btn btn-success {
    width: 120px;
    margin: 8px;
}

.cards {
    margin: 12px;
}