@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.banner {

    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    background-position: center;
    background-image: url('https://ifh.cc/g/PJXMp4.png');
    background-repeat: no-repeat;
}



.box {
    display: flex;
}

.category {
    margin-left: 12px;
    flex: 1;
}

.button {
    margin-right: 12px;
    flex: 1;
    text-align: right;
}

.btn btn-success {
    width: 120px;
    margin: 8px;
}

.cards {
    margin: 12px;
}

dl {
    margin: 12px;
    display: flex;
}

dl > dt {
    padding: 2px;
}

dl > dt > dd {
    padding: 2px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;

    height: 120px;
    background-color: #E5B04D;
    opacity: .8;
}

