@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@400;700&display=swap");
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
.nanumgothic * {
  font-family: "Nanum Gothic", sans-serif;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Nanum Gothic", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  /* width: 100vw;
  height: 100vh; */
}

/************************** 배너 CSS **************************/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/static/imgs/banner.jpg");
  background-position: center 45%;
  background-size: cover;

  /* Import한 Font를 적용 */
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: bold;
  font-style: italic;
  color: white;
}

.banner_home {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/************************** 링크 무지개 효과 **************************/

a:hover,
a:focus {
  animation-duration: 3s;
  animation-name: rainbowLink;
  animation-iteration-count: infinite;
}
@keyframes rainbowLink {
  0% {
    color: red;
  }
  10% {
    color: orange;
  }
  23% {
    color: yellow;
  }
  36% {
    color: yellowgreen;
  }
  49% {
    color: green;
  }
  62% {
    color: blue;
  }
  74% {
    color: indigo;
  }
  86% {
    color: purple;
  }
  100% {
    color: red;
  }
}

/************************** 홈 메인 화면 CSS **************************/

main {
  /* 카드들이 브라우저 가운데에 위치하도록 */
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 180px;
}

.wrapper {
  /* <Select> 태그와 nav 버튼들(작성, 뒤로가기) 포함 */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0 16px 0;
}

.region {
  width: 200px;
}

nav > a {
  width: 100px;
}

#cards-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.mycards {
  margin: 20px auto 0px auto;
  width: 100%;
  max-width: 1200px;
}

/* ------------------ 홈 카드 겹치는 문제 때문에 비활성화 (상세페이지에 영향 없습니다) ------------------ */
/* .col {
  width: 33.3%;
  margin: 0 0 16px 0;
} */

/* .card {
  width: 240px;
} */

.map {
  border: 5px;
  width: 500px;
  height: 700px;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  background-color: beige;
}

/************************** 상세페이지 CSS **************************/

#detail_page {
  width: 100%;
  position: relative;
}
.detail-title {
  height: 60px;
  border-bottom: solid 2px rgba(65, 49, 80, 0.171);
}
#detail_page h5 {
  font-weight: bolder;
  font-size: 30px;
  padding: 0 30px;
  text-align: center;
  font-family: "IM_Hyemin-Bold";
}
#detail-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  float: left;
  width: 60%;
  height: 100%;
  padding: 30px;
}

.detail-image {
  width: 320px;
  height: 240px;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 32px;
}

#info {
  width: 40vw;
  padding: 0px;
  bottom: 10px;
}
.address {
  margin-bottom: 10px;
  white-space: normal;
}
.maps {
  float: right;
  width: 40%;
  right: 0px;
  padding: 30px;
  border-left: solid 2px rgba(65, 49, 80, 0.171);
}
#delete-form {
  margin-top: 20px;
}
#del_button {
  width: 70px;
  height: 35px;
  font-size: 15px;
  padding: 5px;
}
/************************** 포스팅 화면 CSS **************************/
.my-form {
  width: 50%;
  min-width: 360px;
  margin: 0 auto;
  margin-top: 32px;
}
.thumb-container {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  border: 2px solid #ced4da;
  margin: 0 auto;
}
.thumb-container > img {
  width: 100%;
  object-fit: cover;
}
.label-center {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.detail-address {
  display: flex;
}
.address-input {
  margin-top: 8px;
}
.my-btns {
  display: flex;
  justify-content: center;
}
.my-btns > button {
  width: 60px;
  margin: 0 4px;
}

/* card-box */

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card.h-100 {
  background-color: #fff5bca2;
}

.card-title {
  font-weight: bold;
}

.card-body > p {
  font-size: 12px;
}

.card-body > div {
  font-size: 12px;
}

footer {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffc007;
  color: black;
  font-size: 20px;
}

.footer-el {
  text-align: center;
  user-select: none;
}

/* SNS 아이콘 */
#one {
  font-size: 32px;
}
#one > i {
  margin: 0 2px;
}

/* 팀 이름 및 멤버 이름 */
#two > span {
  font-family: "Playfair Display", serif;
  font-size: 40px;
}
#two > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
#two > div > span {
  font-size: 20px;
  margin: 0 2px;
}

/* 추가 */
footer .row {
  margin-left: 20vw;
  margin-right: 20vw;
}
footer .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
}
.contact > span {
  margin-right: 4px;
}
.contact > i {
  margin: 0 2px;
}
