<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>맛집공유하기</title>
  </head>

  <body>
    <div id="home"></div>

    <div class="banner">
      <h1>asus</h1>
    </div>
    <a
      href="{{url_for('write_func')}}"
      class="m-1 btn btn-warning btn"
      role="button"
    >
      작성
    </a>
    <!-- 카테고리 선택하기 ==> 홈화면에서 바로 선택, 조회하기 눌렀을 때 해당 옵션값을 넘겨서 불러오기 -->

    <p>
      <select onchange="changeValue(this)">
        <option value="">전체보기</option>
        <option value="seoul">서울</option>
        <option value="incheon">인천</option>
        <option value="busan">부산</option>
        <option value="daegu">대구</option>
        <option value="gwangju">광주</option>
        <option value="daejeon">대전</option>
        <option value="ulsan">울산</option>
        <option value="gyeonggi">경기</option>
        <option value="gangwon">강원</option>
        <option value="chungbuk">충북</option>
        <option value="chungnam">충남</option>
        <option value="jeonbuk">전북</option>
        <option value="jeonnam">전남</option>
        <option value="gyeongbuk">경북</option>
        <option value="gyeongnmam">경남</option>
        <option value="jeju">제주</option>
      </select>
      <button>조회하기</button>
    </p>

    <main>
      <div class="cards">
        <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
          <div class="col">
            <div class="card h-100">
              <a href="">
                <img
                  src="https://campaign-cdn.pstatic.net/0/campaign/2022/06/gabojagoseoul/img/theme_bar1-1_v2.png"
                  class="card-img-top"
                  alt="요리주점 가게 이미지"
                />
              </a>
              <div class="card-body">
                <a href="" style="text-decoration: none">
                  <h5 class="card-title">blog title</h5>
                  <p class="card-text">review</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <a href="">
                <img
                  src="https://campaign-cdn.pstatic.net/0/campaign/2022/06/gabojagoseoul/img/theme_tea1-1_v2.png"
                  class="card-img-top"
                  alt="찻집 가게 이미지"
                />
              </a>
              <div class="card-body">
                <a href="">
                  <h5 class="card-title">blog title</h5>
                  <p class="card-text">review</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <a href="">
                <img
                  src="https://campaign-cdn.pstatic.net/0/campaign/2022/06/gabojagoseoul/img/theme_tea2-1_v2.png"
                  class="card-img-top"
                  alt="카페, 디저트 가게 이미지"
                />
              </a>
              <div class="card-body">
                <a href="">
                  <h5 class="card-title">blog title</h5>
                  <p class="card-text">review</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <a href="">
                <img
                  src="https://campaign-cdn.pstatic.net/0/campaign/2022/06/gabojagoseoul/img/theme_tea3-1_v2.png"
                  class="card-img-top"
                  alt="홍차 전문점 가게 이미지"
                />
              </a>
              <div class="card-body">
                <a href="">
                  <h5 class="card-title">blog title</h5>
                  <p class="card-text">review</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="static/js/index.js"></script>
  </body>
</html>
